{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>购物车-莎莎网</title>
		<link rel="dns-prefetch" href="//cdnec.sasa.com">
		<!--预解析-->
		<link rel='icon' href=http://cdnec.sasa.com/public/app/site/statics/favicon.ico type='image/x-icon' />
		<!--图标-->
		<link rel='shortcut icon' href=http://cdnec.sasa.com/public/app/site/statics/favicon.ico type='image/x-icon' />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!--文档兼容模式-->

		<!--css-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/iconfont.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}" />
		<!--js-->
		<script type="text/javascript" src="{% static 'js/jquery-1.11.0.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/shopcart.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/common.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/topbar.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/spcart.js' %}"></script>
	</head>
	<body class="cart">

		<div class="sidebar">

		</div>
		<div class="topbar">
			<div class="page">
				<div class="login-bar">
					<span id="loginBar" style="display: block;">
						<span>欢迎光临莎莎官网！</span>
					<a href="login.html" style="margin-left:10px;">登录</a> <span class="dividing">或 </span>
					<a href="register.html">免费注册</a>
					</span>
					<span id="memberBar" style="display: none;">
	   				 	<span>您好！<span id="uname"></span></span>
					<span class="point" style="color:#cb9966;"><b>0</b> 积分</span>
					<a href="index.html">退出</a>
					</span>
				</div>
				<div class="member-bar">
					<ul>
						<li class="line">
							<div class="member-link">
								<a href="">
									<i class="iconfont"></i>我的账户<i class="iconfont min"></i>
								</a>
								<dl id="mem_dl_247" style="display: none;">
									<dd>
										<a href="/account/login" rel="nofollow">我的订单</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的积分</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的优惠券</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的收藏</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的评价</a>
									</dd>
								</dl>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href=""><i class="iconfont"></i>我的收藏</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href=""><i class="iconfont"></i>我的站内信</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">积分中心</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">Global Site</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">关注我们<i class="iconfont min"></i></a>
								<dl class="ajust" id="us_246">
									<dt><a href=""><img src="{% static  'img/topbar/add.png'  %}" alt="加入收藏" height="12" width="16">加入收藏</a><a href=""><img src="{% static  'img/topbar/weibo.png'  %}" alt="新浪微博" height="15" width="17">新浪微博</a><a href=""><img src="{% static  'img/topbar/weixin.png'  %}" alt="莎莎微信" height="14" width="17">莎莎微信</a><a href=""><img src="{% static  'img/topbar/youku.png'  %}" alt="优酷视频" height="13" width="17">优酷视频</a></dt>
									<dd style="display: none;"><img src="{% static  'img/topbar/bigweibo.jpg'  %}" alt="新浪微博" width="100px" height="100px"></dd>
									<dd style="display: none;"><img src="{% static  'img/topbar/bigweixin.jpg'  %}" alt="莎莎微信" width="100px" height="100px"></dd>
									<dd style="display: none;"><img src="{% static  'img/topbar/bigyouku.jpg'  %}" alt="优酷视频" width="100px" height="100px"></dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header-main">
			<div class="page">
				<div class="topcarticon fr">
					<div>
						<img src="{% static  'img/hk.png'  %}">&nbsp; &nbsp;
						<img src="{% static  'img/zp.png'  %}">&nbsp;&nbsp;&nbsp;
						<img src="{% static  'img/fp.png'  %}"></div>
				</div>
				<div class="topcart-step01 topcart-step"></div>
				<div class="sotelogo">
					<a href="index.html">
						<img alt="欢迎光临莎莎网" src="{% static  'img/logo.png'  %}" border="0">
					</a>
				</div>
			</div>
		</div>
		<div id="main" class="ui-cart-body page">
			<!-- 购物车开始 -->
			<!-- 购物车主体 -->
			<div id="J_cartContainer" class="cart-container ui-cart-cont">
				<div class="carttitle bticon">
					您的购物车中的商品</div>
				<form action="" method="post">
					<!-- 购物车内容 -->
					<table id="cart_main" class="cart-main" width="100%">
						<tbody>
							<tr>
								<td>
									<div class="ui-cart-tips">
										香港直送商品订单满<label class="color-pink">¥249</label>包邮
									</div>
								</td>
							</tr>
							<!-- 香港直送 -->
							<tr>
								<td>
									<table class="ui-cart-table J_cart-table"></table>
								</td>
							</tr>

                        {% for cart in carts %}
                            <div style="width: 100%;height: 130px;margin-top: 10px"><a href="{% url 'shasha:jump' cart.goods.id%}"><img src="{{ cart.goods.img_path }}" style="width: 100px;height: 100px"></a><span style="margin-left: 30px">{{ cart.goods.name }}</span><span class="num" style="margin-left: 30px">数量：{{ cart.number}}</span><span class="price-num" style="margin-left: 30px">单价：{{ cart.goods.price }}</span><span style="margin-left: 30px;font-size: 2rem;color: pink">修改数量请点击图片</span></div>
                        {% endfor %}
						<tfoot id="J_cartPriceCont" class="ui-cart-foot">
							<tr>
								<td>
									<table class="ui-cart-table" id="J_orderPrice">
										<tbody>

											<tr>
												<td class="ui-cartfoot-check">
													<div class="fl">
														<a href="index.html" class="ui-cartfoot-link mr20">继续购物</a>
														<a id="J_actionClean" href="{% url 'shasha:orderlist' %}">查看订单</a>
													</div>
													<div class="fr">
														<span class="ui-cartfoot-label">共 <span class="red items-quantity">{{number}}</span> 件商品</span>
														<span class="ui-cartfoot-label">商品应付金额
                <strong class="red f18 promotion-subtotal ui-cart-total">¥{{ price }}</strong>
              </span>

                                                            <a href="{% url 'shasha:generateorder' %}">
                                                            <input type="button" style="margin-right: 10px" class="btn btn-import btn-huge action-settle" value="下单">
                                                            </a>
													</div>
												</td>
											</tr>
											<tr class="ui-carttable-placeholder">
												<td></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
			<!-- 加价区 -->

		</div>

{#<script src="/static/js/jiaoben.js"></script>#}

	</body>
{#<script src="{% static 'js/jiaoben.js' %}"></script>#}
</html>